@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Layout Mobile */

main {
    min-width: 375px;
}

section {
    /* max-width: 640px; */
    min-width: 375px;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
}

/* Cabeçalho */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: #002A42;
}

header h1 {
    width: 150px;
}

header li {
    list-style: none;
}

header li a {
    color: white;
    text-decoration: none;
}

/* Conteúdo Sobre a loja */

#sobre-a-loja div > h2 {
    font-style: italic;
    color: #002A42;
    margin: 40px 0;
    padding-bottom: 15px;
    border-bottom: 3px solid #002A42;
}

#sobre-a-loja img {
    width: 100%;
}


/* Conteúdo Produtos */


#produtos {
    width: 100%;
    margin-right: 40px;
    padding-top: 10px;
}

#produtos > h2 {
    font-style: italic;
    color: #002A42;
    margin: 30px 0;
    padding-bottom: 15px;
    border-bottom: 3px solid #002A42;
}

.lista-produtos li {
    list-style: none;
}

.produto {
    margin-top: 40px;
}

.produto img {
    width: 100%;
    margin-bottom: 15px;
}

.produto p {
    /* height: 100%; */
    margin: 15px 0px 30px;
}

#btn-carrinho {
    width: 100%;
    background-color: #002A42;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
}

/* Layout Tablet */

@media screen and (min-width: 641px) {
    
    section {
        max-width: 1023px;
        margin-top: 40px;
    }

    /* Cabeçalho */

    header h1 {
        width: 300px;
    }    
    
    header ul {
        display: flex;
        gap: 30px;
    }

    /* Conteúdo Sobre a loja */

    #sobre-a-loja img {
        width: 100%;
    }

    /* Conteúdo Produtos */

    .lista-produtos {
        display: grid;
        grid-template-columns: repeat(2, 47%);
        column-gap: 3%;
        row-gap: 5%;
    }

    .lista-produtos li {
        list-style: none;
    }
}

@media screen and (min-width: 1024px) {
    section {
        max-width: 1366px;
        padding: 0px 40px;
    }

    /* Conteudo Sobre a loja */

    #sobre-a-loja {
        display: flex;
        gap: 50px;
    }

    /* Conteúdo Produtos */

    .lista-produtos {
        grid-template-columns: repeat(4,22.5%);
    }

    .produto img {
        width: 100%;
    }
}